<script type="text/javascript">
    RED.nodes.registerType('rsa-decrypt',
    {
        category: 'sense iot rsa',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"rsa decrypt"},
            privatekey: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"rsa-decrypt";
        }
    });
</script>

<script type="text/html" data-template-name="rsa-decrypt">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-privatekey"><i class="icon-tag"></i> Private Key</label>
        <input type="text" id="node-input-privatekey" placeholder="RSA Private Key">
    </div>
</script>

<script type="text/html" data-help-name="rsa-decrypt">
    <p>A simple node that decrypt a given string using a predefined RSA Private Key.<br>Send a message with topic 'private-key' to replace the set key with msg.payload.</p>
</script>